# токен от @BotFather
BOT_TOKEN=your_bot_token

# id тгк для публикации (add bot as admin)
# получить можно через @userinfobot или из ссылки t.me/c/1234567890/1
CHANNEL_ID=-1001234567890

# id админов через запятую — для них нет лимита 1 пост в 24ч
# узнать свой id: @userinfobot
# ADMIN_IDS=123456789,987654321
